<li><%= link_to 'Movie', movies_path, class: "header" %></li><br>
<li><%= link_to 'Actor', actors_path, class: "header" %></li><br>
<li><%= link_to 'Director', directors_path, class: "header" %></li>
